<table class="table table-user">
   <script src="https://kit.fontawesome.com/c1d4cb6d8d.js" crossorigin="anonymous"></script>

  <h2>User info</h2>
  <thead>
    <tr>
       <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"%>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>

   <div class='row'>


   <%= link_to edit_user_path(user.id) do %>
   <div class= " edit btn btn-outline-secondary btn-default btn-block" > <span class="fas fa-user-cog" aria-hidden="true"></span></div>


   <% end %>

   </div>

   
  </tbody>
</table>